{% extends 'treasuremap/base_treasuremap.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escena</title>
    <style>
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <button class="btn btn-primary" onclick="addTime()">Add 10 time</button>
    <button class="btn btn-primary" onclick="addTime5()">Add 5 time</button>
    <button class="btn btn-primary" onclick="addTime1()">Add 1 time</button>
    <button class="btn btn-primary" onclick="stopTime()">Stop time</button>
    <button class="btn btn-primary" onclick="resumeTime()">Resume time</button>
    <button class="btn btn-primary" onclick="substractTime()">Substract 10 time</button>
    <button class="btn btn-primary" onclick="substractTime5()">Substract 5 time</button>
    <button class="btn btn-primary" onclick="substractTime1()">Substract 1 time</button>
    <button class="btn btn-primary" onclick="advanceScene()">Advance scene</button>
    <button class="btn btn-primary" onclick="retraceScene()">Retrace scene</button>
    <button class="btn btn-primary" onclick="showOctocorn()">Show octocorn</button>
    <button class="btn btn-primary" onclick="hideOctocorn()">Hide octocorn</button>
    <button class="btn btn-primary" onclick="restart()">Restart</button>

    <p>current_text: {{ scenes[current_step].text }}</p>
    <p>current_octocorn: {{ scenes[current_step].octocorn }}</p>
    {% if current_step < 16 %}
        <p>next_text: {{ scenes[current_step + 1].text }}</p>
        <p>next_octocorn: {{ scenes[current_step + 1].octocorn }}</p>
    {% endif %}

{% endblock %}

{% block scripting %}
<script>
    function showOctocorn() {
        fetch('/treasuremap/show_octocorn_help');
    }
    
    function hideOctocorn() {
        fetch('/treasuremap/hide_octocorn_help');
    }
    
    function advanceScene() {
        fetch('/treasuremap/advance_scene');
    }
    
    function retraceScene() {
        fetch('/treasuremap/retrace_scene');
    }
    
    function addTime() {
        fetch('/treasuremap/add_time');
    }
    function addTime5() {
        fetch('/treasuremap/add_time_5');
    }
    function addTime1() {
        fetch('/treasuremap/add_time_1');
    }
    
    function stopTime() {
        fetch('/treasuremap/stop_time');
    }
    
    function resumeTime() {
        fetch('/treasuremap/resume_time');
    }
    
    function substractTime() {
        fetch('/treasuremap/substract_time');
    }
    function substractTime5() {
        fetch('/treasuremap/substract_time_5');
    }
    function substractTime1() {
        fetch('/treasuremap/substract_time_1');
    }

    function restart() {
        fetch('/treasuremap/start');
    }

    function updateCountdown() {
        fetch('/treasuremap/countdown')
            .then(response => response.text())
            .then(data => {
                document.getElementById('countdown').innerText = data;
            });
    }
    setInterval(updateCountdown, 1000);
    
    function checkReload() {
                      fetch('/treasuremap/needs_redirect')
                          .then(response => response.json())
                          .then(data => {
                              if (data.needs_redirect_admin) {
                                  window.location.href = "/treasuremap/admin";
                              }
                          })
                          .catch(error => console.error("Error:", error));
    }
    setInterval(checkReload, 1000);  
             


</script>
{% endblock %}