{% extends "treasuremap/base_treasuremap.html" %}
{% block content %}
  <!doctype html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Escena</title>
      <style>
      </style>
  </head>
  <body>
      <div class="container">
          <div class="row">
                  <div class="col-5">
                      <img src="{{ url_for('static', filename='images/Pagina_web_dia_3.jpg') }}" alt="Escena" style="width: 500px; height: auto;">
                  </div>
              <div class="col-7">
                <h2>Apaaa!! Us heu passat, ara ja puc pagar l'aparcament i un bon àpat.</h2>
                <h2>Moltes gràcies amics.</h2>
              </div>
          </div>
      </div>
  </body>
{% endblock %}