{% extends 'treasuremap/base_treasuremap.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escena</title>
    <style>
    </style>
</head>
<body onload="playAudio()">
    <div class="container">
        <div class="row">
            {% if scenes[current_step].image %}
                <div class="col-5">
                    <img src="{{ url_for('static', filename=scenes[current_step].image) }}" alt="Escena" style="width: 500px; height: auto;">
                </div>
            {% endif %}
            <div class="col-7">
                <p class="main-text" >{{ scenes[current_step].text }}</p>
                    {% if scenes[current_step].octocorn %}
                        <button onclick="octocornHelp()">Ajuda Popunicorn!!</button>
                    {% endif %}
                </p>
            {% if scenes[current_step].audio %}
                <button onclick="playAudio()" hidden>Play</button>
                <audio id="audioToPlay" autoplay>
                    <source src="{{ url_for('static', filename=scenes[current_step].audio) }}" type="audio/mp3">
                </audio>
            {% endif %}
            {% if scenes[current_step].octocorn %}
                
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <img id="octocorn-image" src="{{ url_for('static', filename=scenes[current_step].octocorn_image) }}" alt="Escena" style="width: 200px; height: auto;" hidden>
                        </div>
                        <div class="col-8">
                            <p id="octocorn-help" hidden>{{ scenes[current_step].octocorn }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}

{% block scripting %}
<script>
    
    function octocornHelp() {
        fetch('/treasuremap/show_octocorn_help');
    }

    function playAudio() {
            const audio = document.getElementById("audioToPlay");
            audio.play().catch(error => {
                console.log("Auto-play failed:", error);
            });
    }

    function checkOctocornStatus() {
        fetch('/treasuremap/check_octocorn_status')
            .then(response => response.json())
            .then(data => {
                let octocorn = document.getElementById("octocorn-help");
                let octocorn_image = document.getElementById("octocorn-image");
                
                if (data.show_octocorn === true){
                    octocorn.removeAttribute("hidden");
                    octocorn_image.removeAttribute("hidden");
                }else{
                    octocorn.setAttribute("hidden", "");
                    octocorn_image.setAttribute("hidden", "");
                }
            });
    }
    setInterval(checkOctocornStatus, 300);

    function updateCountdown() {
        fetch('/treasuremap/countdown')
            .then(response => response.text())
            .then(data => {
                document.getElementById('countdown').innerText = data;
            });
    }
    setInterval(updateCountdown, 1000);
    
    function checkReload() {
                      fetch('/treasuremap/needs_redirect')
                          .then(response => response.json())
                          .then(data => {
                              if (data.needs_redirect_user) {
                                  window.location.href = "/treasuremap/scene";
                              }
                          })
                          .catch(error => console.error("Error:", error));
    }
    setInterval(checkReload, 1000);  
</script>
{% endblock %}